<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <section id="container">

    <nav class="navbar navbar-default">
      <span class="navbar-brand">Флэшкарточкер</span>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Все карточки</a></li>
        <li><a href="#">Добавить карточку</a></li>
      </ul>
    </nav>

    <section>

      <%= yield %>

    </section>

  </section>

</body>
</html>
